@model BioMedDocManager.Models.Role
@{
    ViewData["Title"] = Loc.T("Role.Edit.Title");
    Layout = "_NoNavLayout";
}

<div class="m-4">
    <h4 class="m-3 px-2">
        <i class="bi bi-pencil-square me-2"></i>@ViewData["Title"]
    </h4>

    <form asp-action="Edit"
          asp-route-roleId="@Model.RoleId"
          method="post"
          id="myForm"
          target="_top">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="RoleId" />

        <div class="pop">

            <div class="row align-items-center my-3">
                <label asp-for="RoleGroup" class="col-md-2 col-form-label text-md-end"></label>
                <div class="col-md-10">
                    <input asp-for="RoleGroup" class="form-control" placeholder="@Loc.T("Role.RoleGroup.Placeholder")" />
                    <span asp-validation-for="RoleGroup" class="text-danger"></span>
                </div>
            </div>

            <div class="row align-items-center my-3">
                <label asp-for="RoleCode" class="col-md-2 col-form-label text-md-end"></label>
                <div class="col-md-10">
                    <input asp-for="RoleCode" class="form-control" placeholder="@Loc.T("Role.RoleCode.Placeholder")" />
                    <span asp-validation-for="RoleCode" class="text-danger"></span>
                </div>
            </div>

            <div class="row align-items-center my-3">
                <div class="col-12 d-flex flex-wrap justify-content-center">
                    <button type="submit" class="btn2 btn-success mt-2 col-6 col-md-3 mx-1">
                        <i class="fas fa-check-circle"></i> @Loc.T("Common.Save")
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

@section PageScripts {
    <script nonce="@ViewBag.CspNonce">

    </script>
}
