@model BioMedDocManager.Models.CreateUser
@{
    ViewData["Title"] = "帳號設定-新增";
    Layout = "_NoNavLayout";

    var deptItems = new SelectList(
        (IEnumerable<SelectOption>)ViewBag.DepartmentOptions,
        "OptionValue", "OptionText"
    );

}

<div class="m-4">
    <h4 class="m-3 px-2"><i class="bi bi-pencil-square me-2"></i>@ViewData["Title"]</h4>
    <form id="myForm" class="PasswordForm" method="post" action="@Url.Action("Create", "AccountSettings", new { UserAccount = Model.UserAccount })" target="_top">
        @Html.AntiForgeryToken()
        <div class="pop">

            <!-- 帳號(工號) -->
            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.LabelFor(m => m.UserAccount)：</strong></div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.UserAccount, new { @class = "form-control", @required = "required" })
                </div>
            </div>

            <!-- 姓名 -->
            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.LabelFor(m => m.UserFullName)：</strong></div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.UserFullName, new { @class = "form-control", @required = "required" })
                </div>
            </div>

            <!-- 職稱 -->
            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.LabelFor(m => m.UserJobTitle)：</strong></div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.UserJobTitle, new { @class = "form-control", @maxlength = "100", placeholder = "例：工程師、經理" })
                </div>
            </div>

            <!-- 部門名稱 -->
            @await Html.PartialAsync("_DepartmentSelect", Model.DepartmentId?.ToString(),
            new ViewDataDictionary(ViewData)
            {
                ["Options"] = ViewBag.DepartmentOptions,   // SelectOption[]
                ["IsRequired"] = true,
                ["FieldName"] = "DepartmentId",
                ["LabelText"] = "-- 請選擇部門 --"
            })

            <!-- Email -->
            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start">
                    <span class="text-danger fw-bold">*</span><strong>@Html.LabelFor(m => m.UserEmail)：</strong>
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.UserEmail, new { @class = "form-control", @type = "email", @required = "required", @maxlength = "255", placeholder = "name@example.com" })
                    <span asp-validation-for="UserEmail" class="text-danger"></span>
                </div>
            </div>

            <!-- 聯絡電話 -->
            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.LabelFor(m => m.UserPhone)：</strong></div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.UserPhone, new { @class = "form-control", @maxlength = "50", placeholder = "市話（選填）" })
                </div>
            </div>

            <!-- 手機 -->
            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.LabelFor(m => m.UserMobile)：</strong></div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.UserMobile, new { @class = "form-control", @maxlength = "50", placeholder = "手機（選填）" })
                </div>
            </div>

            <!-- 密碼 -->
            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start">
                    <span class="text-danger fw-bold">*</span><strong>@Html.LabelFor(m => m.UserPasswordHash)：</strong>
                </div>
                <div class="col-md-10">
                    <span class="text-12 fw-bold">*密碼長度至少需8個字元</span>
                    <input asp-for="UserPasswordHash" class="form-control" type="password" required="required" />
                    <span asp-validation-for="UserPasswordHash" class="text-danger"></span>
                </div>
            </div>

            <!-- 確認密碼 -->
            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start">
                    <span class="text-danger fw-bold">*</span><strong>@Html.LabelFor(m => m.UserConfirmPassword)：</strong>
                </div>
                <div class="col-md-10">
                    <span class="text-12 fw-bold">*密碼長度至少需8個字元</span>
                    <input asp-for="UserConfirmPassword" class="form-control" type="password" required="required" />
                    <span id="ConfirmPasswordValidation" asp-validation-for="UserConfirmPassword" class="text-danger"></span>
                </div>
            </div>

            <!-- 使用者是否啟用 -->
            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.LabelFor(m => m.UserIsActive)：</strong></div>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.UserIsActive, new List<SelectListItem>
                    {
                        new SelectListItem { Text = "啟用", Value = "true" },
                                        new SelectListItem { Text = "停用", Value = "false" }
                                        }, new { @class = "form-select" })
                </div>
            </div>

            <!-- 是否鎖定 -->
            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.LabelFor(m => m.UserIsLocked)：</strong></div>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.UserIsLocked, new List<SelectListItem>
                                        {
                        new SelectListItem { Text = "未鎖定", Value = "false" },
                                        new SelectListItem { Text = "鎖定", Value = "true" }
                                        }, new { @class = "form-select" })
                </div>
            </div>

            <!-- 備註 -->
            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.LabelFor(m => m.UserRemarks)：</strong></div>
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.UserRemarks, 4, 50, new { @class = "form-control", @maxlength = "255", placeholder = "備註（選填）" })
                </div>
            </div>

            <!-- 建立日期 -->
            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.LabelFor(m => m.CreatedAt)：</strong></div>
                <div class="col-md-10">
                    @Html.TextBox("CreatedAt", Model.CreatedAt?.ToString("yyyy-MM-dd"), new { @class = "form-control", @type = "date", @required = "required" })
                </div>
            </div>

            <!-- 按鈕列 -->
            <div class="row align-items-center my-3">
                <div class="col-12 d-flex flex-wrap justify-content-center">
                    <button type="submit" class="btn2 btn-success mt-2 col-6 col-md-3 mx-1">
                        <i class="fas fa-check-circle"></i>&ensp;儲存
                    </button>
                </div>
            </div>

        </div>
    </form>
</div>

@section PageScripts {
    <script nonce="@ViewBag.CspNonce">
        $(function () {
            CheckConfirmPassword();
        });
    </script>
}
