@model BioMedDocManager.Models.AccountViewModel
@{
    ViewData["Title"] = Loc.T("AccountSettings.Edit.Title");
    Layout = "_NoNavLayout";
}

<div class="m-4">
    <h4 class="m-3 px-2"><i class="bi bi-pencil-square me-2"></i>@ViewData["Title"]</h4>
    <form id="myFormDetail" method="post" action="@Url.Action("Edit", "AccountSettings", new { id = Model.UserId })" target="_top">
        @Html.AntiForgeryToken()
        <div class="pop">

            <input asp-for="UserId" class="form-control" type="hidden" />

            <!-- 帳號(工號) - 唯讀 -->
            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.LabelFor(m => m.UserAccount)</strong></div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.UserAccount)
                </div>
            </div>

            <!-- 姓名 -->
            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.LabelFor(m => m.UserFullName)</strong></div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.UserFullName, new { @class = "form-control", @required = "required", @maxlength = "100" })
                </div>
            </div>

            <!-- 職稱 -->
            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.LabelFor(m => m.UserJobTitle)</strong></div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.UserJobTitle, new { @class = "form-control", @maxlength = "100", placeholder = Loc.T("User.UserJobTitle.Placeholder") })
                </div>
            </div>

            <!-- 部門 -->
            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start">
                    <strong>@Html.LabelFor(m => m.DepartmentId)</strong>
                </div>
                <div class="col-md-10">
                    @await Html.PartialAsync("_DepartmentSelect",
                    Model.DepartmentId?.ToString(),
                                        new ViewDataDictionary(ViewData)
                                        {
                                            ["Options"] = ViewBag.DepartmentOptions,
                                            ["IsRequired"] = true,
                                            ["FieldName"] = "DepartmentId",
                                            ["LabelText"] = Loc.T("Common.PleaseSelect")
                                        })
                </div>
            </div>

            <!-- Email -->
            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.LabelFor(m => m.UserEmail)</strong></div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.UserEmail, new { @class = "form-control", @type = "email", @maxlength = "255", placeholder = Loc.T("User.UserEmail.Placeholder") })
                    <span asp-validation-for="UserEmail" class="text-danger"></span>
                </div>
            </div>

            <!-- 聯絡電話 -->
            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.LabelFor(m => m.UserPhone)</strong></div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.UserPhone, new { @class = "form-control", @maxlength = "50", placeholder = Loc.T("User.UserPhone.Placeholder") })
                </div>
            </div>

            <!-- 手機 -->
            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.LabelFor(m => m.UserMobile)</strong></div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.UserMobile, new { @class = "form-control", @maxlength = "50", placeholder = Loc.T("User.UserMobile.Placeholder") })
                </div>
            </div>

            <!-- 使用者是否啟用 -->
            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.LabelFor(m => m.UserIsActive)</strong></div>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.UserIsActive, new List<SelectListItem>
                    {
                        new SelectListItem { Text = Loc.T("Common.Enabled"), Value = "true" },
                                        new SelectListItem { Text = Loc.T("Common.Disabled"), Value = "false" }
                                        }, new { @class = "form-select" })
                </div>
            </div>

            <!-- 是否鎖定 -->
            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.LabelFor(m => m.UserIsLocked)</strong></div>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.UserIsLocked, new List<SelectListItem>
                                        {
                        new SelectListItem { Text = Loc.T("Common.Unlocked"), Value = "false" },
                                        new SelectListItem { Text = Loc.T("Common.Locked"), Value = "true" }
                                        }, new { @class = "form-select" })
                </div>
            </div>

            <!-- 備註 -->
            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.LabelFor(m => m.UserRemarks)</strong></div>
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.UserRemarks, 4, 50, new { @class = "form-control", @maxlength = "255", placeholder = Loc.T("User.UserRemarks.Placeholder") })
                </div>
            </div>

            <!-- 按鈕列 -->
            <div class="row align-items-center my-3">
                <div class="col-12 d-flex flex-wrap justify-content-center">
                    <button type="submit" class="btn2 btn-success mt-2 col-6 col-md-3 mx-1">
                        <i class="fas fa-check-circle"></i> @Loc.T("Common.Save")
                    </button>
                </div>
            </div>

        </div>
    </form>
</div>
