@model BioMedDocManager.Models.Resource
@{
    ViewData["Title"] = Loc.T("Resource.Edit.Title");
    Layout = "_NoNavLayout";
}

<div class="m-4">
    <h4 class="m-3 px-2">
        <i class="bi bi-pencil-square me-2"></i>@ViewData["Title"]
    </h4>

    <form asp-action="Edit"
          asp-route-resourceId="@Model.ResourceId"
          method="post"
          id="myForm"
          target="_top">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="ResourceId" />

        <div class="pop">

            <div class="row align-items-center my-3">
                <label asp-for="ResourceType" class="col-md-2 col-form-label text-md-end"></label>
                <div class="col-md-10">
                    <input asp-for="ResourceType"
                           class="form-control"
                           placeholder="@Loc.T("Resource.ResourceType.Placeholder")" />
                    <span asp-validation-for="ResourceType" class="text-danger"></span>
                </div>
            </div>

            <div class="row align-items-center my-3">
                <label asp-for="ResourceKey" class="col-md-2 col-form-label text-md-end"></label>
                <div class="col-md-10">
                    <input asp-for="ResourceKey"
                           class="form-control"
                           placeholder="@Loc.T("Resource.ResourceKey.Placeholder")" />
                    <span asp-validation-for="ResourceKey" class="text-danger"></span>
                </div>
            </div>

            <div class="row align-items-center my-3">
                <label asp-for="ResourceDisplayName" class="col-md-2 col-form-label text-md-end"></label>
                <div class="col-md-10">
                    <input asp-for="ResourceDisplayName"
                           class="form-control"
                           placeholder="@Loc.T("Resource.ResourceDisplayName.Placeholder")" />
                    <span asp-validation-for="ResourceDisplayName" class="text-danger"></span>
                </div>
            </div>

            <div class="row align-items-center my-3">
                <label asp-for="ResourceIsActive" class="col-md-2 col-form-label text-md-end"></label>
                <div class="col-md-10">
                    <div class="form-check">
                        <input asp-for="ResourceIsActive" class="form-check-input" />
                        <label class="form-check-label" asp-for="ResourceIsActive"></label>
                    </div>
                    <span asp-validation-for="ResourceIsActive" class="text-danger"></span>
                </div>
            </div>

            <div class="row align-items-center my-3">
                <div class="col-12 d-flex flex-wrap justify-content-center">
                    <button type="submit" class="btn2 btn-success mt-2 col-6 col-md-3 mx-1">
                        <i class="fas fa-check-circle"></i> @Loc.T("Common.Save")
                    </button>
                </div>
            </div>

        </div>
    </form>
</div>

@section PageScripts {
    <script nonce="@ViewBag.CspNonce">

    </script>
}
